[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    lg = log
    pl = pull
    ph = push
    ad = add
    df = diff
[user]
	name = Dawid Tarasiuk
	email = tarasiukdawid@gmail.com
[format]
        pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue bold)%>(12,trunc)%ad %C(reset)%C(auto,green)%<(15,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D



[core]
	editor = /usr/bin/vim
